
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <link rel="stylesheet" href="style_contactus.css">
    <title>Document</title>
</head>

<body id = "dev">
    <br>
    <br>
    <br>

    <font color="white"> </font>
    <link rel="stylesheet" href="style_contactus.css">
    <h1>ברוכים הבאים למשחק</h1>
    <br>
    <img src="lifemazelogo.png" alt="logo" width="300" height="300" >
    <br>
    <br>
    <p>השתחררת מהצבא? סיימת שירות לאומי? 
        מתקשה להתמודד עם המציאות החדשה ולהשתלב בעולם האמיתי? 
       אז המשחק הזה הוא בדיוק בשבילך!</p>    <br>
    <br>
    <br>   

    <input type="button" value="בואו נשחק" style="margin-bottom: -200px;" onclick="location.href='/login'">
    
    
        
    </div>
    