<!DOCTYPE html>
<link rel="icon" type="image/png" href="/assets/lifemazelogo.png">
<html lang="en" dir="rtl">

<script src="https://unpkg.com/sweetalert2/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/sweetalert2/dist/sweetalert2.min.css">
<!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

<head style="direction: rtl;">

    <div class="intro-help-hover" style="direction: rtl;">
    <p style="direction: rtl;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Blue_question_mark_icon.svg/1200px-Blue_question_mark_icon.svg.png" alt="" 
    title=
    "    ברוכים הבאים🎉 
    מטרתו של המשחק היא הכנתכם לחיים האמיתיים לאחר שירות ארוך ומשמעותי עבור המדינה. 
    התנועה במשחק היא באמצעות העכבר ומקשים W A S D.
    כדי לכבות ולהפעיל את מפת המשחק  לחצו על M.
    כדי להפעיל ולכבות את חנות החפצים לחצו E."
    
    width="36" height="36" /></p> </div> 
    <script>
        function copyLink(){
            navigator.clipboard.writeText("lifemaze.online");
            Swal.fire('הקישור הועתק');
        }
        let flag = true;
        
        function settingz(){
            Swal.fire({
                title: 'הגדרות',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Light/Dark Theme',
                denyButtonText: `Credits`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        if (flag){
                            flag=false;
                            document.getElementById("center").style.background = "#333232";
                            document.getElementById("koteret").style.color = "white";
                        }
                        else {
                            flag=true;
                            document.getElementById("center").style.background = "white";
                            document.getElementById("koteret").style.color = "black";
                        }
                    } 
                    else if (result.isDenied) {
                        Swal.fire({
                            title: 'Credits',
                            html: "בר שורץ <br> אלמוג בוקובזה <br> אלכס סביצקי <br> הדר איזקסון",
                            width: 600,
                            padding: '3em',
                            color: '#716add',
                            imageWidth: 2000,
                            imageHeight: 1500, 
                            backdrop: `
                                rgba(0,0,123,0.4)
                                url("https://c.tenor.com/WJG99yy8tTsAAAAi/tongue-out-dazed.gif")
                                center right
                                repeat`
                        })
                    }
            })
        }

    </script>


    <p style="text-align: right;"><img onclick="settingz()" src="https://cdn.iconscout.com/icon/free/png-256/apple-settings-1-493162.png" alt="" 
        title="הגדרות" 
        width="36" height="36" /></p>
    <p style="text-align: right;"><img onclick="copyLink()" src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/344/external-share-cryptocurrency-vitaliy-gorbachev-fill-vitaly-gorbachev.png" alt="" 
        title="שיתוף" 
        width="36" height="36" /></p>


    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body style="direction: rtl;" id="log-in"> 
    <div class="center" id = "center">
    <h1 style="font-size:x-large;" id = "koteret">היי, היית פה כבר! <br> תרצה להתחיל מהשלב שהיית בו?</h1>
    <form action="/game_continue" method="post" >
    <button type="submit" class="btn btn-primary">חזרה לשלב הראשון  </button>
    <div class="signup_link">
    <input type="button" value="המשך מהשמירה האחרונה" style="margin-bottom: -200px;" onclick="location.href='/game'">
    <br> <br> <br>
    </div>
    </form>

    </div>
</body>
</html>
