<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    
</head>
<head>
    <p style="text-align: right;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Blue_question_mark_icon.svg/1200px-Blue_question_mark_icon.svg.png" alt="" 
    title="!ברוכים הבאים
    .מטרתו של המשחק היא הכנתכם לחיים האמיתיים לאחר שירות ארוך ומשמעותי עבור המדינה
    .התנועה במשחק היא באמצעות העכבר וחצי המקלדת
    .כדי לכבות או להפעיל את מפת המשחק M לחצו על" style="text-align: right;"
    width="36" height="36" /></p>
        <script>
            function copyLink(){
                navigator.clipboard.writeText("https://lifemaze.com/");
            }
        </script>


    <p style="text-align: right;"><img src="https://cdn.iconscout.com/icon/free/png-256/apple-settings-1-493162.png" alt="" 
        title="הגדרות" 
        width="36" height="36" /></p>
    <p style="text-align: right;"><img onclick="copyLink()" src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/344/external-share-cryptocurrency-vitaliy-gorbachev-fill-vitaly-gorbachev.png" alt="" 
        title="שיתוף" 
        width="36" height="36" /></p>


    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body id="log-in"> 
    <div class="center">
    <h1>Life Maze</h1>
    <form action="/game" method="POST" >

    <div class="txt_field">
            <input type="text" required style="text-align: center;"id = "myusername" name = "myusername">
            <span></span>
            <label>שם משתמש</label>
    </div>
    <div class="txt_field">
            <input type="password" required style="text-align: center;" id = "mypassword" name = "password">
            <span></span>
            <label>סיסמא</label>
    </div>


    <div class="pass" onclick="location.href='/recoverPassword'">?שכחת סיסמא</div>
    <!--<input type="submit" value="כניסה למשחק" style="margin-bottom: -200px;" onclick="location.href='/game'">-->
    <button type="submit" class="btn btn-primary" >כניסה למשחק </button>
    <div class="signup_link">
    <input type="button" value="הרשמה" style="margin-bottom: -200px;" onclick="location.href='/signUp'">
    <br>
    <br>
    <br>
    <div class="pass" style="text-align:center" onclick="location.href='/contactdev'">צור קשר</div>
    

    </div>
    </form>
    </div>
</body>
</html>
