<!DOCTYPE html>
<link rel="icon" type="image/png" href="/assets/lifemazelogo.png">
<html lang="en" dir="rtl">

    <script src="https://unpkg.com/sweetalert2/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/sweetalert2/dist/sweetalert2.min.css">
        
    <!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

<head style="direction: rtl;">

    <div class="intro-help-hover" style="direction: rtl;">
    <p style="direction: rtl;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Blue_question_mark_icon.svg/1200px-Blue_question_mark_icon.svg.png" alt="" 
    title=
    "    ברוכים הבאים🎉 
    מטרתו של המשחק היא הכנתכם לחיים האמיתיים לאחר שירות ארוך ומשמעותי עבור המדינה. 
    התנועה במשחק היא באמצעות העכבר ומקשים W A S D.
    כדי לכבות ולהפעיל את מפת המשחק  לחצו על M.
    כדי להפעיל ולכבות את חנות החפצים לחצו E."
    
    width="36" height="36" /></p> </div> 
        <script>
            function copyLink(){
                navigator.clipboard.writeText("lifemaze.online");
                Swal.fire('הקישור הועתק');
            }
        </script>


    <p style="text-align: right;"><img src="https://cdn.iconscout.com/icon/free/png-256/apple-settings-1-493162.png" alt="" 
        title="הגדרות" 
        width="36" height="36" /></p>
    <p style="text-align: right;"><img onclick="copyLink()" src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/344/external-share-cryptocurrency-vitaliy-gorbachev-fill-vitaly-gorbachev.png" alt="" 
        title="שיתוף" 
        width="36" height="36" /></p>


    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body style="direction: rtl;" id="log-in"> 
    <div class="center">
    <h1>Life Maze</h1>
    <form action="/next" method="POST" >

    <div class="txt_field">
            <input type="text" required style="text-align: center;"id = "myusername" name = "myusername"  placeholder="שם משתמש">
            <span></span>
            
    </div>
    <div class="txt_field">
            <input type="password" required style="text-align: center;" id = "mypassword" name = "password"  placeholder="סיסמא">
            <span></span>
           
    </div>

    <!--<input type="submit" value="כניסה למשחק" style="margin-bottom: -200px;" onclick="location.href='/game'">-->
    <button type="submit" class="btn btn-primary" onclick="location.href='game.html'">כניסה למשחק </button>
    <div class="signup_link">
    <input type="button" value="הרשמה" style="margin-bottom: -200px;" onclick="location.href='/signUp'">
    <br> <br> <br>
    <div class="pass" style="text-align:center" onclick="location.href='/contactdev'">צור קשר</div>

    </div>
    </form>
    </div>
</body>
</html>
