<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Signup form</title>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="center" style="margin-top: 80px;">
    <h1>LifeMaze - הרשמה</h1>
    <form action="/login" method="POST">
        <div class="txt_field">
            <input type="text" required style="text-align: center;" id = "myusername" name = "myusername">
            <span></span>
            <label>שם משתמש</label>
        </div>
        <div class="txt_field">
            <input type="text" required style="text-align: center;" id = "myname" name="name">
            <span></span>
            <label>שם פרטי</label>
        </div>
        <br>
         <div id="service" class="radio1">
         <h4>?איפה שירתת</h4>
         <input type="radio" id="service" name="service" value="service">
         <label for="service">שירות לאומי</label><br>
        <span class="checkmark"></span>
         <input type="radio" id="service" name="service" value="army">
         <label for="army">צבא הגנה לישראל</label><br>
        </div>

         <div id="gender" class="radio2">
         <h4>?זכר או נקבה</h4>
         <input type="radio" id="gender" name="gender" value="male">
         <label for="male">זכר</label><br>
        
         <input type="radio" id="gender" name="gender" value="female">
         <label for="female">נקבה</label><br>

         <input type="radio" id="gender" name="gender" value="other">
         <label for="other">אחר</label><br>
        
        </div>

        <div class="txt_field">
            <input type="password" required style="text-align: center;" id = "mypassword" name = "password">
            <span></span>
            <label>סיסמא</label>
        </div>
        
        <div class="txt_field">
            <input type="password" required style="text-align: center;" id = "mypassword2" name = "passwordConfirm">
            <span></span>
            <label>אישור סיסמא</label>
        </div>

        <button  type ="submit" class="btn btn-primary" >!להירשם</button>
        <!--<input type="button" value="!להירשם" style="margin-bottom: 10px;" class="btn">-->

    </form>
            
    </div>

</body>
</html>
<!-- src="singup.js" -->