<!DOCTYPE html>
<link rel="icon" type="image/png" href="/assets/lifemazelogo.png">
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Signup form</title>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="center" style="margin-top: 80px;">
    <h1>הרשמה</h1>
    <h4 style="margin-right: 19px; color: red; font-style: italic;">קיים כבר שם משתמש כזה, נסה לבחור שם משתמש אחר</h4>
    <form action="/login" method="POST">
        <div class="txt_field">
            <input type="text" required style="text-align: center;" id = "myusername" name = "myusername" placeholder="שם משתמש">
            <span></span>
        </div>
        <div class="txt_field">
            <input type="text" required style="text-align: center;" id = "myname" name="name" placeholder="שם פרטי">
            <span></span>
        </div>
         <div id="service" class="radio1">
         <h4>איפה שירתת?</h4>
         <input type="radio" id="service" name="service" value="service">
         <label for="service" class = "ser">שירות לאומי</label>
         <input type="radio" id="service" name="service" value="army">
         <label for="army" class = "ser">צבא הגנה לישראל</label>
        </div>

         <div id="gender" class="radio2">
         <h4>זכר או נקבה?</h4>
         <input type="radio" id="gender" name="gender" value="male">
         <label for="male" class = "gen">זכר</label>
        
         <input type="radio" id="gender" name="gender" value="female">
         <label for="female" class = "gen">נקבה</label>

         <input type="radio" id="gender" name="gender" value="other">
         <label for="other" class = "gen">אחר</label>
        
        </div>

        <div class="txt_field">
            <input type="password" required style="text-align: center;" id = "mypassword" name = "password" placeholder="סיסמא">
            <span></span>
            
        </div>
        
        <div class="txt_field">
            <input type="password" required style="text-align: center;" id = "mypassword2" name = "passwordConfirm" placeholder="אישור סיסמא">
            <span></span>
            
        </div>
        
        <button  type ="submit" class="btn btn-primary" >הרשמה</button>
    </form>
    </div>

</body>
</html>