<!DOCTYPE html>
<link rel="icon" type="image/png" href="/assets/lifemazelogo.png">
<html lang="en" dir="rtl">
    <head >
      <br><br>
    </head>
    
    <body style="direction:rtl;" color="white">
        
        <link rel="stylesheet" href="style_contactus.css">
        <div class="welcome-title" style="margin-top: -30px;"> 
        <br></div>
        <div class="game-title" style="margin-top: -20px;"> 
        <h2 style="margin-bottom: 45px; margin-top: 45px;"> כעת תוכלו לצפות בסרטון על המשחק, או לדלג עליו<h2> </div>
        <iframe width="600" height="345"
        src="https://www.youtube.com/embed/LvRLjWKXC4o">
        
        </iframe>
        <div class="game-title" style="margin-top: -5px;"> 
        <br>
        <input type="button" value="חזרה להרשמה" style="margin-bottom: -200px; margin-top: 15px;" onclick="location.href='/signup'">
    </body>
    </html>


    